<body>

<div class="about">

<p>Austin Lazarus is an artist and programmer, who make things for the web and is based in Canefield, Dominica W.I.</p><br />

<p>
 =============================================
=        His technical skills includes        =
 =============================================
</p><br />

Programming<br />
<p>
====================================================<br />

- PHP /////////////////////// [X] [X] [  ] [  ] [  ]<br />
- HTML5 //////////////////    [X] [X] [X] [  ] [  ]<br />
- CSS3 /////////////////////  [X] [X] [X] [  ] [  ]<br />
- Processing ////////////     [X] [X] [X] [X] [  ]<br />  
- Python ///////////////////  [X] [X] [X] [X] [X]<br />  
- Javascript (jQuery) //      [X] [X] [X] [X] [X]<br />  
- JSON ////////////////////   [X] [X] [X] [X] [X]<br />  
</p>

Development tools<br />
<p>
====================================================<br />

- Flask /////////////////////// [X] [X] [X] [  ] [  ]<br />
- Heroku ///////////////////// [X] [X] [X] [  ] [  ]<br />
- Ubuntu 14.04  /////////// [X] [X] [X] [X] [  ]<br />
- Github  ///////////////////// [X] [X] [X] [X] [  ]<br />
</p>

Creative tools<br />
<p>
====================================================<br />

- Illustrator  ///////////////// [X] [  ] [  ] [  ] [  ]<br />
- Gimp  /////////////////////// [X] [X] [  ] [  ] [  ]<br />
- Inkscape  ////////////////// [X] [X] [X] [X] [X]<br />
</p>

</div>
</body>